/* Hello, welcome. Glad you are reading this */
/* The formating for this website was taken from meyerweb.com */

body {
    margin: 5px;
    padding: 5px;
    font-family: Georgia Pro, Georgia, serif;
    line-height: 1.2;
    min-height: 100vh;
    grid-column: main;
    padding: 3em 0 0;
    display: block;
}

h1 {
    font-family: IM Fell English, Eczar, Georgia, serif;
    font-variant-numeric: lining-nums;
    font-size: 400%;
    font-weight: 500;
    line-height: 1.1;
    hanging-punctuation: first allow-end;
    margin: 0.67em 0 0.67em -0.1em;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a[href] {
    text-decoration-thickness: 0.03875em;
    text-underline-offset: 0.2em;
    text-decoration-color: hsl(13deg, 13%, 67%);
    color: hsl(13deg, 33%, 42%);
}
a[href]:hover {
    text-decoration-thickness: 0.125em;
    text-underline-offset: 0.15em;
    text-decoration-color: currentColor;
}

h1 a[href],
h2 a[href],
h3 a[href] {
    text-decoration-color: currentColor;
}

.head {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
    height: 100px;
    width: 100%;
}

.welcomechair {
  padding_top: 2em;
}

/* --------------------------------------------------------------------------------- 
   Structural styles
   --------------------------------------------------------------------------------- */

body {
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 1.45;
    grid-column: main;
    display: block;
}

/* Navlinks */

#navigate {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 1.125em;
}
#navlinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em 1em 0;
    margin: 0;
    list-style: none;
    font-family: IM Fell English, Georgia, serif;
}
#navlinks li {
    text-align: center;
    padding: 0.25em 0.5em;
}
#navlinks a[href] {
    display: block;
    padding: 0;
    color: hsla(33deg, 50%, 10%, 0.75);
}

/* footer */

footer {
    display: block;
    height: 6.5em;
    margin-top: 5rem;
    padding: 0rem;
    font-family: Eczar, IM Fell English, Georgia, serif;
    font-size: 80%;
    padding-top: 2em;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}
